/* Header */

header {
	margin-bottom: 30px;
}

.logo-container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
}

.logo {
	font-size: 2.5rem;
}

.burger-menu {
	display: none;
}

nav ul {
	width: 100%;
	display: flex;
	gap: 30px;
	justify-content: space-between;
}

.info-container {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

header .info-container {
	margin-top: 40px;
	margin-bottom: 42px;
}

.info-content .label {
	color: var(--secondary-color);
}

.info-content .body-text {
	color: var(--secondary-color-75);
	margin-bottom: 25px;
}

.info-container-image img {
	width: 45vw;
	height: auto;
}

/* Main */

.partners-section,
.info-section,
.team-section,
.portfolio-section,
.services-section,
.contact-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Home page */

.partners-section {
	margin: 60px 10px 72px;
	gap: 55px;
}

.section-top {
	text-align: center;
	width: 410px;
}

.section-top h1 {
	text-transform: capitalize;
	margin: 15px 0;
}

.section-top .sub-heading {
	line-height: 150%;
}

.links {
	width: 100%;
	display: flex;
	gap: 40px;
	justify-content: space-between;
	align-items: center;
}

.links img {
	max-height: 50px;
	height: auto;
	width: auto;
}

.info-section {
	gap: 72px;
	margin-bottom: 100px;
}

.info-section .label {
	color: var(--tertiary-color);
}

.info-section .body-text {
	color: var(--tertiary-color-75);
	margin-bottom: 33px;
}

.mission .info-content,
.solution .info-content {
	width: 30vw;
	margin-bottom: 15px;
}

.mission .info-content {
	order: 2;
}

.mission .info-image {
	order: 1;
}

.team-section {
	margin-bottom: 54px;
}

.team-cards {
	width: 100%;
	display: flex;
	gap: 35px;
	justify-content: space-between;
	margin: 45px 0;
}

.card {
	max-width: 279px;
	min-width: 252px;
	width: auto;
	height: auto;
	padding: 20px 25px 0;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.card img {
	width: 175px;
	height: 175px;
	margin: 0 auto;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-info .body-text {
	color: var(--tertiary-color-75);
	text-transform: uppercase;
}

.card-info {
	margin: 19px 0;
}

/* Portfolio page */

.portfolio-section {
	margin-bottom: 100px;
	gap: 40px;
}

.portfolio-section .section-top {
	margin-bottom: 32px;
}

.portfolio-section .section-top .label {
	color: var(--primary-color);
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 570fr 555fr;
	gap: 40px;
	margin-bottom: 25px;
}

.work-card {
	border: 2px solid black;
	border-radius: 5px;
	max-width: 570px;
}

.work-card img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* Services page */

.services-section {
	max-width: 1227px;
	padding-top: 5px;
	gap: 65px;
	margin-bottom: 135px;
}

.service-cards {
	width: 100%;
	display: flex;
	gap: 40px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.service-card {
	max-width: 339px;
	box-sizing: border-box;
	padding: 46px 30px;
	border: 1px solid var(--tertiary-color-25);
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	text-align: center;
}

.service-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.service-card .title {
	color: black;
	margin: 0;
}

.price-container {
	margin: 10px 0 25px;
	color: var(--tertiary-color-50);
}

.price-container p {
	display: flex;
	justify-content: center;
	align-content: center;
}

.price {
	font-weight: bold;
	text-transform: uppercase;
	color: black;
	font-size: 40px;
	margin: 0;
}

.info {
	margin: 10px 0 52px;
	color: var(--tertiary-color-50);
}

.service-card ul {
	padding: 0px 0;
	margin-bottom: 45px;
	text-align: start;
}

.service-card ul li {
	line-height: 2.1rem;
	color: var(--tertiary-color);
}

.service-card ul li i {
	color: var(--primary-color);
	padding-left: 5px;
	margin-right: 10px;
	font-size: 20px;
}

/* Contact page*/

.contact-section {
	gap: 55px;
	margin-bottom: 93px;
}

.contact-section .top h1 {
	margin: 0;
}

.contact-container {
	width: 100%;
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contact-container form {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.map-wrapper {
	flex: 1 0 1;
}

.contact-container form {
	flex: 1;
	width: 575px;
}

.contact-container form input,
.contact-container form textarea {
	box-sizing: border-box;
	width: 100%;
	padding: 8px;
	margin-top: 14px;
	margin-bottom: 24px;
	background-color: #eee;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 16px;
}

.contact-container form textarea {
	resize: vertical;
	height: 74px;
	margin-bottom: 17px;
}

.contact-container form button {
	margin-top: 0;
	width: 100%;
	font-size: 20px;
	cursor: pointer;
}

.map-container {
	flex: 1;
	max-height: 380px;
	overflow: hidden;
}

.map-container iframe {
	width: 100%;
	border: 0;
	border-radius: 5px;
}

/* Footer */
.footer-content {
	padding: 0 1px;
}
.footer-social {
	display: flex;
	gap: 22px;
	font-size: 18px;
}

@media (max-width: 1280px) {
	.links,
	.team-cards,
	.service-cards {
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

@media (max-width: 1024px) {
	.site-content {
		width: 635px;
	}

	.links {
		row-gap: 40px;
		justify-content: space-around;
	}

	.info-section {
		margin-bottom: 40px;
	}

	.info-container,
	.contact-container {
		flex-direction: column;
		gap: 30px;
	}

	.info-container-image img,
	.contact-container form {
		width: 100%;
	}

	.info-container-image {
		order: 1;
	}

	.header-content .info-content,
	.mission .info-content,
	.solution .info-content {
		width: 100%;
		order: 2;
	}

	.team-cards {
		flex-wrap: wrap;
		row-gap: 35px;
	}

	.service-cards {
		justify-content: center;
		gap: 40px;
	}
}

@media (max-width: 768px) {
	.site-content {
		width: 540px;
	}

	.logo img {
		width: 45px;
	}

	.logo {
		font-size: 1.9rem;
	}

	.burger-menu {
		display: block;
	}

	nav ul {
		display: none;
	}

	.partners-section {
		width: 100%;
	}

	.portfolio-top-section {
		margin-bottom: 45px;
	}

	.gallery-section {
		grid-template-columns: 1fr;
		row-gap: 55px;
		margin-bottom: 30px;
	}

	.gallery {
		grid-template-columns: 1fr;
	}

	.map-container {
		order: 1;
	}

	.contact-container form {
		order: 2;
	}

	.footer-content {
		justify-content: center;
		row-gap: 20px;
	}
}

@media (max-width: 500px) {
	.section-top {
		width: 100%;
	}

	.logo-container {
		gap: 3.5px;
	}

	.logo-container img {
		width: 45px;
	}

	.logo {
		font-size: 30px;
	}

	header .info-container {
		margin-top: 32px;
		margin-bottom: 0;
	}

	.header-title {
		font-size: 28px;
		margin: 15px 0;
	}

	header {
		padding: 21px 0;
		margin-bottom: 22px;
	}

	.section-top h1 {
		font-size: 24px;
		margin: 16px 0;
	}

	.info-content h1 {
		font-size: 24px;
	}

	.info-content .body-text {
		margin: 20px 0;
	}

	.info-section {
		gap: 60px;
	}

	.portfolio-section {
		gap: 0;
		margin-bottom: 30px;
	}

	.gallery {
		gap: 55px;
		margin-bottom: 28px;
	}

	.services-section {
		gap: 46px;
		margin-bottom: 68px;
	}

	.contact-section {
		gap: 45px;
		margin-bottom: 59px;
	}

	.contact-container {
		gap: 21px;
	}

	#message {
		margin-bottom: 30px;
	}

	footer {
		padding: 31px 0;
	}
}
